*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}

.header{
    background-color: gainsboro;
    padding: 5px;
}

#logo{
    position: absolute;
    left: 10px;
    width: 50px;

}

.texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(6, 47, 124);
    
}